/.DS_Store
/auth.html
/cart.html
/product-cornerstone-blend.html
/product-everyday-gold.html
/product-founders-reserve.html
/product-high-road-decaf.html
/product-midnight-press.html
/product-morning-bloom.html
/profile.html